body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    position: relative;
    line-height: 2;
}
nav{
    background-color: rgb(139, 70, 37);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    padding: 5px;
    text-transform: uppercase;
}
.navdiv{
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    color: goldenrod;
}
.navdiv:hover{
    color: rgb(231, 217, 179);
    border-color: rgb(231, 217, 179) ;
}
h5:hover {
    color: rgb(255, 192, 76)
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: whitesmoke;
    background-image:url("croissants_banner.jpg");
    background-size: 1200px;
    padding: 30px;
}
#img5{
    position: absolute;
    top: 30px;
    left: 30px;
    
}
h3,h4,h5,h6{
    text-transform: uppercase;
}
main{
    display: flex;
    
}
#d1{
    border: 3px double #e9decb;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    width: 85vw;
}
h3{
    box-shadow: -3px -1px 0px maroon;
    padding: 5px;
    color: maroon;
}
h5{
    color: orange;
    text-decoration: underline 1px;
}
span{
    text-transform: uppercase;
    color: maroon;
}
footer{
    background-color: rgb(139, 70, 37);
    text-align: center;
    color: rgb(228, 199, 186);
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#d2{
    background-color: #ece7df;
    padding: 30px;
    background-image: url("scallop.png");
    background-repeat: repeat-y;
    line-height: 1.5;
}
#d1>div{
    display: flex;
    float: left;
}
p{
    font-size: larger;
    margin: 10px; 
}
img{
    display: flex;
}
#img1{
    margin:10px
}
#img2{
    shape-outside: ellipse();
}
/* #img2,#img3{
    float: left;
} */
@media all and (min-width:1200px){
   body{
    width:1200px;
    margin:  0 auto;
   }
   nav{
    width: 1200px;
    text-align: center;
   }
    
}
@media all and (max-width:940px){
    #img5{
        position:relative;
        top: 0px;
        left: 0px;
     }
     #img2,#img3{
        height: 100%;
        width: 100%;
        /* float: left; */
     }
     #d2{
        background-color: #ece7df;
        padding: 30px;
        background-image: url("scallop2.png");
        background-repeat: repeat-x;
    }
    main{
        flex-direction: column;
    }
}
@media all and (max-width:600px){
    #d1{
        border:none;
        margin: 5px;
    } 
    h4{
        display: none;
    }
   body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
}
@media all and (max-width:480px){
    #d1>div{
        display: block;
        margin:auto;
        float: none;
    }
    
}

@media all and (max-width:400px){
    nav{
        flex-wrap: wrap;
    }
    .navdiv{
        flex-basis: 45%;
    }
}